.heading {
	display:flex;
	justify-content: center;
}

.heading > h1 {
	font-size: 2em;
	font-family:fantasy;
	font-style:italic;
	margin-top:0px;
	text-decoration: underline;
	color:#0032ff;
	margin-right: 10px

}


.heading > a {
	order:1;
}
.heading > a > img {
	width:40px;
	height:40px;
}

.flextest {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

.flextest > img {
	width:400px;
	height:350px;
	transition: all 1s;
	margin:10px 0px;
}

.flextest > img:hover {
	transform:scale(1.1);
}

